#container{
    background-color : rgb(255, 255, 255);
  
    margin : 0 auto;
    max-width : 900px;
    min-width : 320px;
    border-radius: 128px;
    overflow: hidden;
  }
 
  body
  {
      margin : 0px;
    padding :0px;
    font-size : 15px;
    font-family : arial;
  }
  p{
    color : #004758;
    margin : 7px;
    font-size : 22px;
  }
  a{
    color : rgb(69,69,69);
    font-size : 25px;
  }
  a:hover{
    color : rgb(0, 255, 238);
    text-decoration : none;
  }
  ul{
    
    font-size : 32px;
  }
  h2{
    color : #125d49;
    font-size : 45px;
  }
  img
  {
    display : block;
    margin : auto;
    max-width : 400px;
  }
  footer
  {
    display: block;
    margin : auto;
    margin-top : 20px;
    max-width : 400px;
  }
  nav
  {
    background-color : black;
    color : white;
    margin : auto;
    max-width : 400px;
    display : block;
    
  }
  section
  {
    margin:auto;
    display : block;
    max-width : 640px;
    background-color : #686868;
  }
  .customtable
  {
    margin:auto;
    display : block;
    max-width : 640px;
    background-color : #747474;
    font-size : 1.2em;
  }
  h1,h2
  {
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin : auto;
    margin-top : 20px;
    max-width : 400px;
  }
  
  footer a
  {
    font-size : 1.9em;
  }
  header
  {
    display: block;
    margin : auto;
    margin-top : 20px;
    max-width : 400px;
  }