body
{
    font-family: Arial;
    margin: 0 auto;
    background-color: rgb(208, 208, 208);
    overflow: scroll;
}
header
{   margin: 0 auto;
   
    background-color: rgb(97, 198, 166);
    position: sticky;
    top :0px;
    order: -100px;

}
ul
{
    margin: auto 0;
    display : flex;
    flex-direction: row; 
    gap: 3em;
}
nav
{
    text-decoration: none;
    text-decoration-line: none;
    margin: 0 auto;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

}
nav a
{
    text-decoration: none;
    text-decoration-line: none;
    font-size: 1.25em;
}
footer
{
    margin: 0 auto;
}
section h2
{
    margin: 0 auto;
    padding-left: 4vw;
}
.me-bkg
{
    background-image: url("../img/me.jpg");
    background-size : auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 128em;
    height: 30em;
}
.about-me-big h2
{
    font-size:  1.8em;
    background-color: rgb(54, 145, 130);
}
.about-me-big
{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 90%;
    min-height: 10vw;
    font-size:  1.6em;
}
.content-holder
{
    margin: 0 auto;
    padding:  0;
    display: flex;
    justify-content: space-between;
  
}
.contact-area
{
    background-color: rgb(73, 73, 73);
    margin: 0 auto;

    width: 90%;
    font-size: 1.4em;
}
.contact-area h2
{
    padding-left: 0;
}
.project-card-table
{

    margin: 0 auto;
    display : flex;
    flex-direction: row;
    height: 30em;
   
}
.project-card
{
    margin: 0 auto;
    background-color: rgb(97, 198, 166);
    align-content: center;
    max-width: 320px;
    max-height: 20em;
    animation: scale-down-normal 1s forwards ease-in-out;

}

.project-card-image
{
    width: 256px;
    height: 144px;
    background-size: cover;
    
    
}

/*Smartphone and Small Monitor Optimization*/
@media only screen and (max-width: 900px) {
body {
    background-color: lightblue;
}
ul
{

    display : flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    gap: 0.25em;

}
nav
{

    margin: 0 auto;
    display : flex;
    flex-direction: column;
    justify-content: space-between;


   
}
.me-bkg
{
    width: 100%;
    height: 90vw;
}
.content-holder
{
   flex-direction: column;
  
}
.project-card-table
{
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    height: auto;
}
.project-card
{
    width: 90%;
    max-width: 90%;
    display: flex;
}
}